body{
    width: 60vw;
    margin: auto;
}
h1#T1{
    color:rgb(44,32,80) ;
    background-color: rgb(236,240,241);
}
h1#T2{
    color: rgb(39,174,96);
    background-color:rgb(233,247,239);
}
h1#T3{
    color: rgb(234,156,18);
    background-color: rgb(255,243,230);
}
h1#T4{
    color: rgb(142,68,173);
    background-color: rgb(245,230,245);
}

h2.SubT1{
    color: rgb(231,76,60);
    background-color: rgb(249,235,234);
}
h2.SubT2{
    color: rgb(39,174,96);
    background-color: rgb(233,247,239);
}
h2.SubT3{
    color: rgb(243,156,18);
    background-color: rgb(255,243,230);
}
h2.SubT4{
    color: rgb(142,68,173);
    background-color: rgb(245,230,245);
}